<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
    .column {
        float: left;
        width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .slider {
        width: 80%;
    }
    body {
        line-height: 1.5em;
    }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Endpoints</a>
        <a href="{{ url_for('setting') }}">Parameter Setting</a>

    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

</body>



</html>