{% extends 'base.html' %}

{% block content %}
Text completions
<br>
|- {{currentURL}}infermatic
<br>
|- {{currentURL}}featherless
<br>
|- {{currentURL}}arli

<br>
<br>
Chat completions
<br>
|- <a href="{{currentURL}}claude">{{currentURL}}claude</a>
<br>
|- {{currentURL}}openrouter-cc
<br>

<form method="POST">
    |- {{currentURL}}kobold &ensp; <input type="text" id="kobold_url" name="kobold_url" placeholder="url" value="{{web_param['kobold_url']}}"> <button type="submit" value="Submit"> Submit </button>
</form>
<br>  

    <!-- {% for message in messages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %} -->
{% endblock %}

