{% extends 'base.html' %}

{% block content %}
Text completions
<br>
|- {{currentURL}}infermatic WIP
<br>
|- {{currentURL}}openrouter-tc WIP
<br>
|- {{currentURL}}featherless WIP
<br>
|- {{currentURL}}arli

<br>
<br>
Chat completions
<br>
|- <a href="{{currentURL}}claude">{{currentURL}}claude</a>
<br>
|- {{currentURL}}openrouter-cc
<br>

<form method="POST">
    |- {{currentURL}}kobold &ensp; <input type="text" id="koboldurl" name="koboldurl" placeholder="url"> WIP<br> 
</form>

    <!-- {% for message in messages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %} -->
{% endblock %}

