{% extends 'base.html' %}

{% block content %}
Text completions
<br>
|-{{currentURL}}infermatic
<br>
|-{{currentURL}}openrouter-tc
<br>
|-{{currentURL}}featherless
<br>
|-{{currentURL}}arli

<br>
<br>
Chat completions
<br>
|-{{currentURL}}claude
<br>
|-{{currentURL}}openrouter-cc
<br>

<form method="POST">
    |-{{currentURL}}kobold &ensp; <input type="text" id="koboldurl" name="koboldurl" placeholder="url"><br>
</form>

    <!-- {% for message in messages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %} -->
{% endblock %}

