{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Parameter Settings {% endblock %}</h1>
    <form method="POST">
        <div class="row">
            <div class="column" style="width: 20%;">
                <label for="instruct">Instruct preset</label> <br style="margin-bottom: 5px;">
                <label for="top_p">Top P</label><br>
                <label for="min_p">Min P</label><br>
                <label for="top_k">Top K</label><br>
                <label for="rep_pen">Repetition penalty</label><br>
                <label for="freq_pen">Frequency penalty</label><br>
                <label for="pres_pen">Presence penalty</label><br>
            </div>
            <div class="column"  style="width: 80%;">
                <select name="instruct" id="instruct">
                    <option value="alpaca" {% if web_param['instruct'] == 'alpaca' %}selected{% endif %}>alpaca</option>
                    <option value="vicuna" {% if web_param['instruct'] == 'vicuna' %}selected{% endif %}>vicuna</option>
                    <option value="llama-3" {% if web_param['instruct'] == 'llama-3' %}selected{% endif %}>llama-3</option>
                    <option value="chatml" {% if web_param['instruct'] == 'chatml' %}selected{% endif %}>chatml</option>
                    <option value="command-r" {% if web_param['instruct'] == 'command-r' %}selected{% endif %}>command-r</option>
                    <option value="mistral" {% if web_param['instruct'] == 'mistral' %}selected{% endif %}>mistral</option>
                    <option value="gemma2" {% if web_param['instruct'] == 'gemma2' %}selected{% endif %}>gemma2</option>
                </select>
                <br>
                <input name="top_p" type="range" min="0" max="1" value="{{web_param['top_p']}}" step="0.01" id="top_p" class="slider">
                <span  class="sliderValue"></span>
                <br>
                <input name="min_p" type="range" min="0" max="1" value="{{web_param['min_p']}}" step="0.01" id="min_p" class="slider">
                <span  class="sliderValue"></span>
                <br>
                <input name="top_k" type="range" min="-1" max="100" value="{{web_param['top_k']}}" id="top_k" class="slider">
                <span  class="sliderValue"></span>
                <br>
                <input name="rep_pen" type="range" min="1" max="3" value="{{web_param['repetition_penalty']}}" step="0.01" id="rep_pen" class="slider">
                <span  class="sliderValue"></span>
                <br>
                <input name="freq_pen" type="range" min="-2" max="2" value="{{web_param['frequency_penalty']}}" step="0.01" id="freq_pen" class="slider">
                <span  class="sliderValue"></span>
                <br>
                <input name="pres_pen" type="range" min="-2" max="2" value="{{web_param['presence_penalty']}}" step="0.01" id="pres_pen" class="slider">
                <span  class="sliderValue"></span>
                <br>        
            </div>
        </div>
        <div #banned_string>
            <label for="banned_strings">Banned string</label> <br>
            <textarea name="banned_strings" style="width: 100%;" type="text"  value="{{web_param['banned_strings']}}" id="banned_strings">{{web_param['banned_strings']}}</textarea>    
        </div>
        <br>
        <div #prefill style="width: 100%;">
            <label for="prefill_enabled">Assistant prefill</label>
        <input name="prefill_enabled" id="prefill_enabled" type="checkbox" {% if web_param['prefill_enabled'] %}checked{% endif %} value="1" onchange="togglePrefill()">
        <br>
        <textarea name="prefill_string" style="width: 100%;" type="text"  value="{{web_param['prefill_string']}}" id="prefill_string" {% if not web_param['prefill_enabled'] %}disabled{% endif %}>{{web_param['prefill_string']}}</textarea>
        </div>
        
        <br>
        <label for="dry_enabled">Dry sampling</label>
        <input name="dry_enabled" id="dry_enabled" type="checkbox" {% if web_param['dry_enabled'] %}checked{% endif %} value="1" onchange="toggleDry()">
        <br>
        <div class="row">
            <div class="column" style="width: 20%;">
                <label for="dry_multiplier">Dry multiplier</label><br>
                <label for="dry_base">Dry base</label><br>
                <label for="dry_allowed_length">Dry allowed length</label><br>
                <label for="dry_range">Dry range</label><br>
            </div>
            <div class="column" style="width: 80%;">
                <input name="dry_multiplier" type="range" min="0" max="5" value="{{web_param['dry_multiplier']}}" step="0.01" id="dry_multiplier" class="slider">
                <span  class="sliderValue"></span><br>
                <input name="dry_base" type="range" min="1" max="4" value="{{web_param['dry_base']}}" step="0.01" id="dry_base" class="slider">
                <span  class="sliderValue"></span><br>
                <input name="dry_allowed_length" type="range" min="1" max="20" value="{{web_param['dry_allowed_length']}}" step="1" id="dry_allowed_length" class="slider">
                <span  class="sliderValue"></span><br>
                <input name="dry_range" type="text" min="1" max="204800" value="{{web_param['dry_range']}}" id="dry_range"><br>
                </div>
            </div>
            <label for="dry_sequence_breaker_ids">Dry sequence breaker</label>
            <textarea name="dry_sequence_breaker_ids" style="width: 100%;" type="text"  value="{{web_param['dry_sequence_breaker_ids']}}" id="dry_sequence_breaker_ids" {% if not web_param['dry_enabled'] %}disabled{% endif %}>{{web_param['dry_sequence_breaker_ids']}}</textarea>
        </div>








        <button type="submit" value="Submit">Submit</button>
        
    </form>

    <script>
        function updateSliderValue(slider, label) {
                    label.innerHTML = slider.value;
                }
        const sliders = document.querySelectorAll('.slider');
        const sliderValues = document.querySelectorAll('.sliderValue');
    
        sliders.forEach((slider, index) => {
                const label = sliderValues[index];
    
                // Initialize label with the default value of each slider
                updateSliderValue(slider, label);
    
                // Update label when slider is moved
                slider.oninput = function() {
                    updateSliderValue(slider, label);
                }
            });
    
    function togglePrefill() {
        const checkbox = document.getElementById("prefill_enabled");
        const textarea = document.getElementById("prefill_string");
        textarea.disabled = !checkbox.checked;
    }

    function toggleDry() {
        const checkbox = document.getElementById("dry_enabled");
        const disabledElement = ["dry_multiplier","dry_base", "dry_allowed_length", "dry_range", "dry_sequence_breaker_ids"]
        for (let i in disabledElement){
            const temp = document.getElementById(disabledElement[i]);
            temp.disabled = !checkbox.checked;
        }
    }

    // Ensure proper state on page load
    document.addEventListener("DOMContentLoaded", () => {
        togglePrefill();
        toggleDry();
    });
            
    </script>
{% endblock %}